
<section>

<h1> Products Details </h1>
    
    <div class="container">

        <div class="card">
          <div class="card-body py-5 px-4">
        <h6 class="card-title text-muted">XD File App</h6>
        <h2 class="text">Get Card UI Ecommerce Module</h2>
         <h3 class="Price pt-3"><i class="fa fa-dollar mr-1"></i>1890.50</h3>
        <p class="card-text text-muted">Staple and skinny,grinder adffogato, dark<br>Sweet and flavourful</p>
        <button>Add to Cart</button> 
        <button> Buy Now</button> 
        <footer class="footer text-muted pt-5"><p class="mytext mt-3">Offer valid starting 21 July 2020<br>Through 26 July 2020</p></footer>
        </div>
        </div>
    
    </div>





</section>