


<div class="header" >
  <div class="menu">
   <svg class="line-top" width="750" height="15" viewbox="0,0 1000,20">
    <line
     class="line-dash"
     x1="0"
     y1="15"
     x2="1000"
     y2="15"
     style="stroke:#08d; stroke-width:2; stroke-linecap:round; stroke-dasharray: 180,1200; stroke-dashoffset: -35;"
    />
   </svg>
   <ul>
    <li>Home</li><li>Gallery</li><li>Contact</li><li>sing in </li>
   </ul>
   <svg class="line-bottom" width="750" height="30" viewbox="0,0 1000,40">
    <polygon class="lb" points="35,53 115,53 125,43 135,53 215,53" />
    <polygon class="lb" points="285,53 365,53 375,43 385,53 465,53" />
 
    <polygon class="lb" points="535,53 615,53 625,43 635,53 715,53" />
 
    <polygon class="lb" points="785,53 865,53 875,43 885,53 965,53" />
   </svg>
  </div>
 </div>
 <div class="content">
  <h1>Welcome to Walmart</h1>
 </div>
     

     <h1>Products</h1>
   <div class="car-padding">
        <div class="row product-details" *ngFor="let produto of  produtos">
                  
          <div class="card">

            <div class="image-card">

             <img src="{{produto.imageUrl}}"/>

            </div>

            

            <div class="description">
             <h2>{{produto.name}}</h2>
             <h3> {{produto.categori}}</h3>
             <p> price : {{ produto.price}}</p>
             <a   routerLink="/Details"  >  Details </a>
            
            </div>

          </div>
                
            
         </div>
         



    </div>  
     
   
    
<footer class="header">
  <li>Home</li><li>Gallery</li><li>Contact</li><li>sing in </li>

</footer>
      
 

